.hero {
  .container {
    justify-content: space-between;

    @include atMedium {
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        order: -1;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @include atMedium {
      margin-top: 4rem;
      align-items: center;
    }
  
    h2 {
      color: $grey;
      font-size: 3.2rem;
      line-height: 4.2rem;
    }
  
    p {
      color: $purple;
      line-height: 2.6rem;
    }
  }
}
